# .github/workflows/build-electron-app.yml

name: Build and Release Electron App

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*' # Run on tag pushes
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  # -------------------------------------------------------------------
  # Job to build the macOS version
  # -------------------------------------------------------------------
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build and package app
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload macOS Artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v4
        with:
          name: Lobster-macOS-Installer
          path: dist/package/*.dmg
          if-no-files-found: error

  # -------------------------------------------------------------------
  # Job to build the Windows version
  # -------------------------------------------------------------------
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build and package app
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Windows Artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v4
        with:
          name: Lobster-Windows-Installer
          path: dist/package/*.exe
          if-no-files-found: error

  # -------------------------------------------------------------------
  # Job to build the Linux version
  # -------------------------------------------------------------------
  build-linux:
    runs-on: ubuntu-latest # Use Linux runner
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build and package app
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Linux Artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v4
        with:
          name: Lobster-Linux-Installer
          path: dist/package/*.AppImage
          if-no-files-found: error

  # -------------------------------------------------------------------
  # Job to create the GitHub Release
  # -------------------------------------------------------------------
  create-release:
    if: startsWith(github.ref, 'refs/tags/')
    
    needs: [build-macos, build-windows, build-linux]
    
    runs-on: ubuntu-latest
    
    steps:
      - name: Download macOS Artifact
        uses: actions/download-artifact@v4
        with:
          name: Lobster-macOS-Installer
          path: Lobster-macOS-Installer
          
      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: Lobster-Windows-Installer
          path: Lobster-Windows-Installer

      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: Lobster-Linux-Installer
          path: Lobster-Linux-Installer

      - name: Create GitHub Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          artifacts: "Lobster-macOS-Installer/*.dmg,Lobster-Windows-Installer/*.exe,Lobster-Linux-Installer/*.AppImage"
          
          draft: false
          prerelease: false
          generateReleaseNotes: true